@use "./base.scss";

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance
}

p {
  text-wrap: pretty;
}

.page-title {
  font-size: calc(clamp(0.5rem, 4vw, 1.75rem));
}

.search-button.hidden {
  visibility: hidden;
}

.dark .darkmode svg {
  fill: #fdf6e3;
}

dice-roller {
  background: var(--lightgray);
  user-select: none;
  cursor: pointer;
  padding: 0.25em 0.5em;
  margin: 0 0.25rem;
  border-radius: 3em;
  font-weight: bold;

  &:hover {
    background: var(--gray);
  }
}

